
            <footer role="contentinfo" class="footer">
                <div class="footer__wrap">
                    <div class="container">
                        <div class="footer__content">
                            <div class="footer__info">
                                <a class="footer__logo" href="/" title="la pag">
                                    <span class="element-focusable">pag</span>
                                    <img src="images/core/car.svg" alt="car"  width="50px" height="60px" >
                                </a>
                                <span class="footer__address">
                                    <a href="https://www.google.com/maps/place/Santa+Anita,+Jal./@20.5512905,-103.4518641,15z/data=!3m1!4b1!4m5!3m4!1s0x8428acb44fec9457:0xee97c42f75ed864c!8m2!3d20.5502194!4d-103.4433056">Santa anita city <br> en donde ya sabes </a>
                                </span>
                                <span class="footer__phone">
                                    <a aria-label="cantacto 121215111" href="tel:3310757108">3310757108</a>
                                </span>
                                <ul class="footer__social">
                                    <li>
                                        <a href="https://www.facebook.com/" title="Facebook">
                                            <span class="element-focusable">Facebook</span>
                                            <svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
                                                <g fill="none" fill-rule="evenodd"><circle fill="#f8f8f8" cx="12.5" cy="12.5" r="12.5"/>
                                                    <path d="M10.833 10.278H9.167V12.5h1.666v6.667h2.778V12.5h2.023l.2-2.222H13.61v-.926c0-.53.107-.74.62-.74h1.602v-2.78h-2.115c-1.998 0-2.885.88-2.885 2.564v1.88z" fill="#374a5a" fill-rule="nonzero"/>
                                                </g>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/" title="Twitter">
                                            <span class="element-focusable">Twitter</span>
                                            <svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
                                                <g fill="none" fill-rule="evenodd"><circle fill="#f8f8f8" cx="12.5" cy="12.5" r="12.5"/>
                                                    <path d="M19.81 8.845a5.725 5.725 0 0 1-1.647.451 2.872 2.872 0 0 0 1.26-1.586 5.744 5.744 0 0 1-1.82.696 2.87 2.87 0 0 0-4.887 2.615 8.14 8.14 0 0 1-5.91-2.996 2.871 2.871 0 0 0 .887 3.828 2.855 2.855 0 0 1-1.298-.359c-.031 1.329.921 2.572 2.3 2.848-.404.11-.846.135-1.295.05a2.87 2.87 0 0 0 2.679 1.99 5.765 5.765 0 0 1-4.246 1.188 8.118 8.118 0 0 0 4.396 1.288c5.324 0 8.332-4.496 8.15-8.529a5.838 5.838 0 0 0 1.431-1.484z" fill="#374a5a" fill-rule="nonzero"/>
                                                </g>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/" title="Linkedin">
                                            <span class="element-focusable">Linkedin</span>
                                            <svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
                                                <g fill="none" fill-rule="evenodd"><circle fill="#f8f8f8" cx="12.5" cy="12.5" r="12.5"/>
                                                    <path d="M9.012 7.844c0 .65-.523 1.178-1.168 1.178a1.173 1.173 0 0 1-1.168-1.178c0-.65.523-1.177 1.168-1.177.645 0 1.168.527 1.168 1.177zm.01 2.12H6.667V17.5h2.355V9.964zm3.76 0h-2.34V17.5h2.34v-3.956c0-2.2 2.84-2.38 2.84 0V17.5h2.349v-4.772c0-3.711-4.202-3.576-5.19-1.75V9.965z" fill="#374a5a" fill-rule="nonzero"/>
                                                </g>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <nav class="footer__nav">
                                <nav role="navigation" aria-labelledby="block-footerplusplus-menu" id="block-footerplusplus">
                                    <h2 class="visually-hidden" id="block-footerplusplus-menu">Footer Plus Plus</h2>
                                    <ul class="footer__nav-list">
                                        <li>
                                            <a href="/about" title="Informacion">Informacion</a>
                                        </li>
                                        <li>
                                            <a href="/work" title="Trabajamos con">Trabajamos con</a>
                                        </li>
                                        <li>
                                            <a href="/services" title="Servicios">Servicios</a>
                                        </li>
                                        <li>
                                            <a href="/ideas" title="Ideas">Ideas</a>
                                        </li>
                                        <li>
                                            <a href="/contact" title="Contacto" >Contacto</a>
                                        </li>
                                    </ul>
                                </nav>
                            </nav>
                        </div>
                    <span class="footer__credits">&copy; Copyright 2019 Marco AVG, Inc. Marco AVG<br>
                        
                    </span>
                </div>
                </div>
            </footer>

        </div>

        <div class="contact-bar">
            <div class="contact-bar__content">
                Cantactanos 
                
            </div>
        </div>
        <div class="overlay"></div>
    </section>
    
      </main>

        <script src="js/ready.min.js?v=1.0.8"></script>
        <script src="js/jquery.min.js?v=3.2.1"></script>
        <script src="js/jquery.once.min.js?v=2.2.0"></script>
        <script src="js/drupalSettingsLoader.js?v=8.6.2"></script>
        <script src="js/drupal.js?v=8.6.2"></script>
        <script src="js/drupal.init.js?v=8.6.2"></script>
        <script src="js/datalayer.js?v=1.x"></script>
        <script src="js/site.js?v=1.x"></script>
        <script src="js/masonry.pkgd.js?v=1.x"></script>
        <script src="js/obfuscate_email.js?v=8.6.2"></script>
        
        <script src="js/grid-filters.js?v=1.x"></script>
        <script src="js/vue-2.5.13.js?v=1.x"></script>
        <script src="js/highlight.pack.js?v=8.6.2"></script>
        <script src="js/codesnippet.js?v=8.6.2"></script>

        <!-- Start of HubSpot Embed Code -->
        <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4117614.js"></script>
        <!-- End of HubSpot Embed Code -->
    </body>
</html>
