{{> header}}
            <main class="main">
                <div class="main__inner">
                    <section class="hero-section">
                        <div class="hero-section__content container">
                            <div class="hero-section__title-wrap">
                                <h1 class="hero-section__title">      Compra y venta de autos 
                                </h1>
                            </div>
                            <div class="hero-section__lede-wrap">
                                <div class="hero-section__lede">      <p>busca tu nuevo auto e informate de los servicios </p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div id="app" class="main-wrap">
                        <div class="text-filters">
                            <div class="container--extend">
                                <div class="text-filters__content">
                                    <div class="text-filters__row">
                                        Me interesan
                                        <div class="text-filters__dropdown">
                                            <a aria-label="Todos los modelos" 
                                                href="javascript:void(0);" 
                                                class="filters__button">Todos los modelos
                                            </a> 
                                            <ul class="filters__menu">
                                                <li class="js-active">
                                                    <a aria-label="Todos los modelos" href="#" 
                                                        class="filters__text">Todos los modelos
                                                    </a>
                                                </li>
                                                <li>
                                                    <a aria-label="Carros" href="#" 
                                                        class="filters__text">Carros
                                                    </a>
                                                </li>
                                                <li>
                                                    <a aria-label="Camionetas" href="#" 
                                                        class="filters__text">Camionetas
                                                    </a>
                                            </div>
                                    </div> 
                                
                                </div>
                            </div>
                        </div> 
                        
                        <div class="grid-wrap container--extend">
                            <div class="grid" style="position: relative; height: 3885.47px;" id="items-home-grid">
                                <div class="grid-sizer"></div> 
                                <div class="gutter-sizer"></div> 
                                <script type="text/javascript">
                                    let urlI="/items";
                                    fetch(urlI).then(response => response.json())
                                    .then( (result) => {
                                        let divItem=document.getElementById('items-home-grid');
                                        for(var k in result.items) {
                                            var item = result.items[k];
                                            console.log('item:', item)
                                            divItem.innerHTML+= `<div class="${item.class}" style="${item.style}">
                                                <a role="img" aria-label="${item.description} " href="${item.urlItem}" 
                                                    title="${item.description}" class="grid-link" 
                                                    style="background-image: url(&quot;${item.background}&quot;);">
                                                    <div class="grid-link__content">
                                                        <span class="grid-link__label">${item.label}</span> 
                                                        <h2 class="grid-link__title">${item.title}</h2> 
                                                        <p class="grid-link__teaser" style="display: none;"></p>
                                                        </div> <!----> 
                                                    <div class="grid-link__meta">
                                                        <span class="grid-link__meta-thumb">
                                                            <img src="${item.authorImg}?h=5a3b9e47&amp;itok=7U35MgQB" 
                                                            alt="${item.author}">
                                                            </span> 
                                                        <span class="grid-link__meta-author">${item.author}</span>
                                                        </div> 
                                                        <div class="grid-link__view">
                                                            <span class="grid-link__view-title">${item.viewTitle} </span> 
                                                            <span class="grid-link__view-link">${item.viewLink}</span>
                                                </div>
                                                </a>
                                            </div>`;
                                        }                                                               
                                        
                                        
                                    })
                                    .catch(error => console.log('error:', error));

                                    
                                </script>

                               

                                

                            </div>
                        </div>
                    </div>
                </div>
            </main>

    <div class="karma">
        <div class="karma--full">
            <img src="images/core/car.svg" alt="car">
        </div>
    </div>
{{> footer}}